ExcelVBA.crt
SMTL4.csr
PrivateKey.key
Sqlite3Demo.bas
*.laccdb
*.bak
~$*
#Binaryブランチでは、_Local以外のxl__ファイルも管理対象とする
Developブランチではxlsm等のバイナリファイルはgit管理外です.txt
#bin/*.xl*
*_Local*
*_Local.xl*/
TempDB/
#/x64/
